<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
    
</head>

<body>
    <%- include("header") %>


    <h1 class="h1"> Add data</h1>
    <form action="/" method="post">

        
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="doc_name">
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="text"  class="form-control" name="doc_image">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text"  class="form-control" name="doc_discription">
        </div>
        <div class="mb-3">
            <label class="form-label">Online site</label>
            <input type="text"  class="form-control" name="online_site">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Video Link</label>
            <input type="text" class="form-control" name="video_link">
        </div>
        <div class="mb-3">
            <label class="form-label">Estimated time</label>
            <input type="text" class="form-control" name="esteemated_time">
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>