<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Jan-SevaKendra</title>
  <link rel="stylesheet" href="/css/pc/loginpage.css">

    
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/logincheak" method="post">
        
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="email" placeholder="Email or Phone" id="username" name="email" required autofocus>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <input type="submit" value="Login" style="background-color: #2d5eb2;cursor: pointer;">
        <a href="/signup">Sign up</a>
    </form>
</body>
</html>