<!DOCTYPE html>
<html>
<head>
    <script>
        var subjectObject = {
            "India": {
                "Gujrat": ["Surat", "Rajkot", "Ahemadabad"],
                "Rajsthan": ["Jaipur", "Udaypur", "Jodhpur"]

            },
            "Pakistan": {
                "Lahor": ["a", "b", "c"],
                "Karachi": ["d", "e", "f"]
            }
        }
        window.onload = function () {
            var subjectSel = document.getElementById("Country");
            var topicSel = document.getElementById("State");
            var chapterSel = document.getElementById("City");
            for (var x in subjectObject) {
                subjectSel.options[subjectSel.options.length] = new Option(x, x);
            }
            subjectSel.onchange = function () {
                //empty Chapters- and Topics- dropdowns
                chapterSel.length = 1;
                topicSel.length = 1;
                //display correct values
                for (var y in subjectObject[this.value]) {
                    topicSel.options[topicSel.options.length] = new Option(y, y);
                }
            }
            topicSel.onchange = function () {
                //empty Chapters dropdown
                chapterSel.length = 1;
                //display correct values
                var z = subjectObject[subjectSel.value][this.value];
                for (var i = 0; i < z.length; i++) {
                    chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
                }
            }
        }
    </script>
</head>
<body>
    <h1>Cascading Dropdown Example</h1>
    <form name="form1" id="form1">
        Country: <select name="Country" id="Country">
            <option selected="selected">Select Country</option>
        </select>
        <br><br>
        State: <select name="State" id="State">
            <option selected="selected">Please select State first</option>
        </select>
        <br><br>
        City: <select name="City" id="City">
            <option selected="selected">Please select City first</option>
        </select>
        <br><br>
    </form>
</body>
</html>